<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="section.css">
    <title>Binario Web App</title>
</head>
<body>
    <section class="section-fases">
        <div class="title">
            <h1 class="title-primary">Seleção de fase</h1>
        </div>
        <div class="container">
            <div class="content">
                <ul>
                    <li class="level-item">
                        <img class="img-level" src="../../assets/imgs/level1.png" alt="leve-1">
                        <div class="level-info">
                            <h2 class="level">FASE 1</h2>
                            <p class="descrition">Introdução ao sistema binário</p>
                        </div>
                    </li>
                    <li class="level-item">
                        <img class="img-level" src="../../assets/imgs/level2.png" alt="leve-1">
                        <div class="level-info">
                            <h2 class="level">FASE 2</h2>
                            <p class="descrition">Aprendendo a contar</p>
                        </div>
                    </li>
                    <li class="level-item">
                        <img class="img-level" src="../../assets/imgs/level3.png" alt="leve-1">
                        <div class="level-info">
                            <h2 class="level">FASE 3</h2>
                            <p class="descrition">Trabalhando com números binários</p>
                        </div>
                    </li>
                    <li class="level-item">
                        <img class="img-level" src="../../assets/imgs/level4.png" alt="leve-1">
                        <div class="level-info">
                            <h2 class="level">FASE 4</h2>
                            <p class="descrition">Mensagem secreta com binários</p>
                        </div>
                    </li>
                    <li class="level-item">
                        <img class="img-level" src="../../assets/imgs/level5.png" alt="leve-1">
                        <div class="level-info">
                            <h2 class="level">FASE 5</h2>
                            <p class="descrition">Correio eletrônico e modens</p>
                        </div>
                    </li>
                    <li class="level-item">
                        <img class="img-level" src="../../assets/imgs/level6.png" alt="leve-1">
                        <div class="level-info">
                            <h2 class="level">FASE 6</h2>
                            <p class="descrition">Contar decimal de 31</p>
                        </div>
                    </li>
                    <li class="level-item">
                        <img class="img-level" src="../../assets/imgs/level7.png" alt="leve-1">
                        <div class="level-info">
                            <h2 class="level">FASE 7</h2>
                            <p class="descrition">Mais sobre números binários</p>
                        </div>
                    </li>
                    <li class="level-item">
                        <img class="img-level" src="../../assets/imgs/level8.png" alt="leve-1">
                        <div class="level-info">
                            <h2 class="level">FASE 8</h2>
                            <p class="descrition">De que se trata tudo isso?</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>