<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="input.css">
    <title>Binarios Web App</title>
</head>
<body>
    <section class="container">
        <div class="content">
            <h2 class="text-primary">Digite seu e-mail ou código de usuário ou apenas seu nome:</h2>
            <form class="form" action="">
                <input type="text">
                <button class="button" type="submit">Enviar</button>
            </form>
            <div class="link">
                <a class="link_href" href="/components/sectionFases/section.html">Entrar sem meus dados</a>
            </div>
        </div>
    </section>
</body>
</html>